* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    font-family: Arial, Helvetica, sans-serif
}

header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    color: black;
    text-decoration: none;
    font-size: 20px;
    margin-right: 750px;
}

.fa-solid {
    margin-left: 35px;
    text-decoration: none;
    font-size: 25px;
    color: #f72626;
}

.menu {
    display: flex;
    list-style: none;
    margin-right: 30px;
}

.menu li {
    margin-right: 30px;
}

.menu li a {
    color: black;
    padding: 7px;
    border-radius: 5px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #555;
    color: white;
    transition: 0.2s;
}

.menu li ul {
    display: none;
    margin-top: 10px;
    position: absolute;
    width: 73px;
    padding: 5px;
    border-radius: 10px;
    background-color: #555;
}

.menu li ul li {
    margin: 10px 5px;
    list-style: none;
}

.menu li ul li a:hover {
    background-color: #333;
}

#dropdown:hover ul {
    display: block;
}

#dropdown ul li a {
    color: white;
}

.video {
    margin-left: 40px;
}

.container {
    margin: 30px;
    margin-left: 50px;
    color: #ff0000;
    font-size: 20px;
    cursor: pointer;
}

form {
    margin-left: 40px;
}

button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #0d6efd;
    margin: 50px;
    font-size: 15px;
    width: 90px;
    border-radius: 5px;
    border: #fff;
    padding: 7px;
    margin-left: 500px;
}

#bt-btn {
    color: white;
    text-decoration: none;
}
